.container{
    max-width:100%;
    min-height: calc(100vh - 90px);
}

html,body{
    height:100%;
    margin:0;
}

*{
    /*border: 1px solid #73AD21;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.info{
    text-align: center;
    font-size: small;
}

.logo{
    display: block;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.search_form{
    text-align: center;
}

#search{
    border-radius:25px;
    font-size:xx-large;
    margin-bottom: 25px;
    border-color: none;
    border-style: solid;
}

.generic_menu{
    float:left;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: small;
}
.menu_bar{
    width: 100%;
}

.footer{
    height: 80px;
    background-color:#f2f2f2;
    font-size: small;
}
.specific_menu{
    float:right;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: small;
}

.country{
    border-bottom: 1px solid lightgray;
    padding-right:10px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.adverts{
    float:left;
    margin-top: 5px;
}

.legal{
    float:right;
}

.logo_container{
    width: 100%;
}

.logo{
    float:center;
}

a{
    padding-right:10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.button{
    background-color: #f5f5f5;
    border:none;
    color:#707070;
    font-size:15px;
    padding: 10px 20px;
    margin:5px;
    border-radius:4px;
    outline:none;
  }
  .button:hover{
    border: 1px solid #c8c8c8;
    padding: 9px 19px;
    color:#808080;
  }