.container{
    max-width:100%;
}

*{
    border: 1px solid #73AD21;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.generic_menu{
    float:left;
}
.menu_bar{
    width: 100%;
}

.specific_menu{
    float:right;
}

.logo_container{
    width: 100%;
}

.logo{
    float:center;
}

a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}